<div class="container">
  <footer>
    <small>Copyright &copy; <a href="htps://www.google.com">The complete Ruby on Rails Developer</a>
      by <a href="htps://www.google.com">Mashrur</a></small>
    <nav>
      <ul>
        <li></li>
      </ul>
    </nav>
  </footer>
</div>
